<li id="task_<%= task.id %>">
  <%= task.name %> - <%= task.due_date %>
  <%= button_to "詳細", task_path(task, format: :turbo_stream), method: :get, data: { turbo_frame: "task_detail" } %>
  <%= button_to "編集", task_path(task), method: :get, data: { turbo_frame: "task_form" }, class: "text-blue-500 hover:text-blue-700" %>
  <%= button_to "削除", task_path(task), method: :delete, data: { turbo_confirm: "削除しますか？", turbo_frame: "task_list" }, class: "text-red-500 hover:text-red-700" %>
</li>