<li id="<%= dom_id(task) %>">
  <%= task.name %> - <%= task.due_date %>
  <% if task.persisted? %>
    <%= link_to "詳細", task_path(task), data: { turbo_frame: "task_detail" } %>
    <%= button_to "削除", task, method: :delete,
        data: { turbo_confirm: "削除してよろしいですか？" , turbo_frame: "task_detail" },
        class: "text-red-500 hover:text-red-700" %>
  <% else %>
    <p class="text-red-500">タスクが保存されていません。</p>
  <% end %>
</li>
