<%= turbo_frame_tag "task_detail" do %>
    <div id="task_detail_<%= @task.id %>">
    <h3 class="text-xl font-bold mb-2">タスク詳細</h3>
    <p><strong>タスク名:</strong> <%= @task.name %></p>
    <p><strong>詳細:</strong> <%= @task.details %></p>
    <p><strong>締切日:</strong> <%= @task.due_date %></p>
    <p><strong>完了:</strong> <%= @task.completed ? "はい" : "いいえ" %></p>
</div>
<% end %>